/* Custom CSS for the whole webpage */
* {
    font-size: 100%;
    font-family: 'Open Sans';
}

.col-centered {
    float: none;
    margin: 0 auto;
}

body {
    min-width: 640px;
}

/*.paddingtop {*/
/*padding-top: 25px;*/
/*}*/

/*.paddingtopproduct {*/
/*padding-top: 20px;*/
/*}*/

.col5edit {
    max-width: 300px;
    padding-left: 0px;
}

input.form-control.search-product {
    width: 50%;
}

input.form-control.search-engineer {
    width: 50%;
}

.panel-default > .panel-heading {
    background-color: rgba(102, 102, 102, 0.8);
    color: white;
}

.card,
.productdetails {
    visibility: hidden;
}

.card .fa {
    color: rgb(5, 133, 205);
}

.table thead {
    color: rgb(5, 133, 205);
}

/* hides the default search bar of DataTables */
div#DataTables_Table_0_filter label {
    display: none;
}

/* hides the default search bar of DataTables */
div#DataTables_Table_1_filter label {
    display: none;
}

.countrybutton {
    padding: 6px 10px;
    line-height: 1.7;
}

table.click {
    border-collapse: collapse;
}

#click tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}

.click tr:hover {
    background-color: #ccc;
}

.click th {
    background-color: #fff;
}

.click th, #example td {
    padding: 3px 5px;
}

.click td:hover {
    cursor: pointer;
}

.modal-content {
    background-color: rgb(51, 51, 51);
    opacity: 0.9;
}

.modal-header {
    border-bottom: 0px;
}

.modal-title {
    text-align: center;
    color: white;
}

.modal-body {
    text-align: center;
}

.filterlanden {
    width: 300px;
}

.searchbar {
    padding-top: 10px;
}

.modal-footer {
    text-align: center;
    border-top: 0px;
}

/*Styling for the country button. Below we give the fa-globe icon the color of the logo */
.countrybutton,
.refreshbutton,
.menubutton{
    height: 34px;
}

.countrybutton i,
.refreshbutton i,
.menubutton i{
    color: #0085d5;
    line-height: 20px;
    font-size: 20px;
}

tr.even.selected {
    background-color: #f5f5f5;
}

.fa-copy {
    cursor: pointer;
}

.close {
    color: #ffffff;
    opacity: 1;
}

.fa-lg {
    color: rgb(5, 133, 205);
    cursor: pointer;
}

.panel {
    margin: 2vh 0;
    overflow: auto;
}

.row-search {
    height: 10vh;
}

.row-search .col-xs-8 {
    display: table;
}

.row-search .vertical-center {
    display: table-cell;
    vertical-align: middle;
    height: 10vh;
}

.row-product .panel {
    height: 36vh;
}

.row-engineer .panel {
    height: 46vh;
}

.legend {
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    border-bottom: 1px solid #e5e5e5;
}