/* Custom CSS for the whole webpage */
body {
    min-width: 640px;
}

input.form-control.search-product {
    width: 50%;
}

input.form-control.search-engineer {
    width: 50%;
}

.panel-default > .panel-heading {
    background-color: rgba(102, 102, 102, 1);
    color: white;
}

.panel {
    margin: 2vh 0;
    overflow: auto;
}

.productdetails {
    visibility: hidden;
}

.card {
    visibility: hidden;
    overflow: hidden;
}

.card .fa {
    color: rgb(5, 133, 205);
}

.productdetails .fa-times,
.card .fa-times {
    cursor: pointer;
    float: right;
}

.card .star {
    display: none;
}

.card .panel-body {
    overflow: auto;
    height: calc(100% - 45px);
}

.stars {
    padding-top: 4px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.stars .fa-star {
    color: #FF801A ;
}

.table thead {
    color: rgb(5, 133, 205);
}

/* hides the default search bar of DataTables */
div#DataTables_Table_0_filter label {
    display: none;
}

/* hides the default search bar of DataTables */
div#DataTables_Table_1_filter label {
    display: none;
}

.countrybutton {
    padding: 6px 10px;
    line-height: 1.7;
}

table.click {
    border-collapse: collapse;
}

#click tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}

.clickinfo tbody tr:hover {
    background-color: #0085d5;
    color: white;
    cursor: pointer;
}

.click th {
    background-color: #fff;
}

.click td:hover {
    cursor: pointer;
}

.modal-content {
    background-color: rgb(51, 51, 51);
    opacity: 0.9;
}

.modal-header {
    border-bottom: 0px;
}

.modal-title {
    text-align: center;
    color: white;
}

.modal-body {
    text-align: center;
}

.filterlanden {
    width: 300px;
}

.searchbar {
    padding-top: 10px;
}

.modal-footer {
    text-align: center;
    border-top: 0px;
}

/*Styling for the country button. Below we give the fa-globe icon the color of the logo */
.countrybutton,
.refreshbutton,
.menubutton {
    height: 34px;
}

.refreshbutton i.fa.fa-refresh {
    margin-left: -2px;
    margin-right: -2px;
}

.countrybutton i,
.refreshbutton i,
.menubutton i {
    color: #0085d5;
    line-height: 20px;
    font-size: 20px;
}

tr.even.selected {
    background-color: #f5f5f5;
}

.close {
    color: #ffffff;
    text-shadow: 0 1px 0 #000;
    opacity: 1;
}
.note-popover {
    float: right;
    visibility: hidden;
}

.fa-copy {
    cursor: pointer;
}

.fa-lg {
    color: rgb(5, 133, 205);
    cursor: pointer;
}

.row-search {
    height: 10vh;
}

.row-search .col-xs-8 {
    display: table;
}

.row-search .vertical-center {
    display: table-cell;
    vertical-align: middle;
    height: 10vh;
}

.row-product .panel {
    height: 36vh;
}

.row-engineer .panel {
    height: 46vh;
}

.legend {
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    border-bottom: 1px solid #e5e5e5;
}

tr.odd.selected,
tr.even.selected {
    background-color: rgb(5, 133, 205);
    color: white;
}

.engineers .panel-body,
.products .panel-body {
    padding-top: 0px;
}

/* Styling for the note part in the skill matrix */
/* The max width is dependant on the container (more info below) */
.popover{
    max-width: 18%; /* Max Width of the popover (depending on the container!) */
    width: 18%;
}

.popover hr{
    margin: 10px;
}

.popover .fa {
    color: rgb(5, 133, 205);
}

.popover-content {
    padding-left: 10px;
    padding-right: 10px;
}