.col-centered{
float: none;
margin: 0 auto;
}

body{
	min-width: 640px;
}

.padtop{
	padding-top:20px;
}

.search {
	font-family: "ShreeDev0714","Shree Devanagari 714";
	font-size: 14px;
	color: rgb(5, 133, 205);
}

.productsnaam{
	height:220px; 
	border: 1px solid #ccc;
}

.prodimgnaam{
	text-align: center;
	background-color:rgba(102, 102, 102, 0.1);
	font-size: 14px;
	padding: 4px;
}

.prodimg{
	margin: auto;
	margin-top: 30px;
}

.enginaam{
	border: 1px solid #ccc;
}

.border {
	border-bottom: 1px solid #eee
}

.agiimg{
	width:165px; 
	height:30px;
}
.panel-default{
	border-color:#ccc;
}

.table{
	margin-bottom: 3px;
	border-color:#ccc;
	font-family: "ShreeDev0714","Shree Devanagari 714";
	font-size: 14px;
	color: rgb(5, 133, 205);
}

.hover > tbody > tr:hover{
	background-color: rgba(5, 133, 205, 1);
	color: white;
}

.selected {
	background-color: rgba(5, 133, 205, 1);
	color: white;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	border-top:0px;
	margin: 5px 5px;


}

.curlvl{
	background-color: #ccc;
	color: black;
}

.engiimglvl{
	text-align: center;
	color: #eee;
}
.engithpad{
	padding-bottom:2px;
}
.engiinfofont{
	font-size:12px;
}
.famargin{
	margin-top:2px;
	margin-left:10px;
}

.engitabpad > tbody > tr > td {
	padding-top:3px;
	padding-bottom:3px;
	padding-right:0px;
}