/* Custom CSS for the whole webpage */
* {
    font-size: 100%;
    font-family: 'Open Sans';
}

.col-centered{
    float: none;
    margin: 0 auto;
}

body{
	min-width: 640px;
}

.padtop{
	padding-top: 10px;
}

.search {
	color: rgb(5, 133, 205);
}

.products{
	height: 260px; 
	border: 1px solid #ccc;
}

.prodimgnaam{
	text-align: center;
	background-color:rgba(102, 102, 102, 0.1);
	font-size: 14px;
	padding: 4px;
	height:30px;
}

.prodimg{
	margin: auto;
	margin-top: 30px;
}

.enginaam{
	border: 1px solid #ccc;
}

.border {
	border-bottom: 1px solid #eee
}

.engineers{
	border: 1px solid #ccc;
}

.table{
	margin-bottom: 3px;
	border-color:#ccc;
	/*color: rgb(5, 133, 205);*/
}

.table thead {
    color: rgb(5, 133, 205);
}

.curlvl{
	background-color: #ccc;
	color: black;
}

.engiimglvl{
	text-align: center;
	color: #eee;
}
.engithpad{
	padding-bottom:2px;
}
.engiinfofont{
	font-size:12px;
}
.famargin{
	margin-top:2px;
	margin-left:10px;
}

.engitabpad > tbody > tr > td {
	padding-top:3px;
	padding-bottom:3px;
	padding-right:0px;
}

/* hides the default search bar of DataTables */
div#DataTables_Table_0_filter label {
    display: none;
}

/* hides the default search bar of DataTables */
div#DataTables_Table_1_filter label {
    display: none;
}

.countrybutton {
    padding: 6px 10px;
    line-height: 1.7;
}

/*Styling for the country button. Below we give the fa-globe icon the color of the logo */
.countrybutton {
    padding: 0px 9px;
    font-size: 19px;
}

.countrybutton i.fa.fa-globe {
  color: rgb(5, 133, 205);
}
