/* Custom CSS for the whole webpage */
* {
    font-size: 100%;
    font-family: 'Open Sans';
}

.col-centered{
    float: none;
    margin: 0 auto;
}

body{
	min-width: 640px;
}

.padtop{
	padding-top:20px;
}

.search {
	color: rgb(5, 133, 205);
}

.products{
	height:220px; 
	border: 1px solid #ccc;
}

.prodimgnaam{
	text-align: center;
	background-color:rgba(102, 102, 102, 0.1);
	font-size: 14px;
	padding: 4px;
	height:30px;
}

.prodimg{
	margin: auto;
	margin-top: 30px;
}

.enginaam{
	border: 1px solid #ccc;
}

.border {
	border-bottom: 1px solid #eee
}

.agiimg{
	width:165px; 
	height:30px;
}
.engineers{
	border: 1px solid #ccc;
}

.table{
	margin-bottom: 3px;
	border-color:#ccc;
	color: rgb(5, 133, 205);
}

.curlvl{
	background-color: #ccc;
	color: black;
}

.engiimglvl{
	text-align: center;
	color: #eee;
}
.engithpad{
	padding-bottom:2px;
}
.engiinfofont{
	font-size:12px;
}
.famargin{
	margin-top:2px;
	margin-left:10px;
}

.engitabpad > tbody > tr > td {
	padding-top:3px;
	padding-bottom:3px;
	padding-right:0px;
}

#selectlan
{
  position:absolute;
  width:440px;
  height:320px;
  background-color: rgba(51, 51, 51, 0.9);
}

.filtertable{
	margin-bottom: 3px;
	font-family: "ShreeDev0714","Shree Devanagari 714";
	font-size: 12px;
	color: rgb(255,255,255);
}

#lansub{
	position: absolute;
	left:    0;
	bottom:   0;
}

#landen{
	width:85%;  
	margin-left:25px; 
	margin-right:25px;
}

/* hides the default search bar of DataTables */
div#DataTables_Table_0_filter label {
    display: none;
}

/* hides the default search bar of DataTables */
div#DataTables_Table_1_filter label {
    display: none;
}

.countrybutton {
    padding: 6px 10px;
    line-height: 1.7;
}

.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group {
    margin-right: 5px;
}