/* Custom CSS for the whole webpage */
* {
    font-size: 100%;
    font-family: 'Open Sans';
}

.col-centered{
    float: none;
    margin: 0 auto;
}

body{
	min-width: 640px;
}

.padtop{
	padding-top: 10px;
}

.search {
	color: rgb(5, 133, 205);
}

.products{
	border: 1px solid #ccc;
}

.productdetails {
	border: 1px solid #ccc;
        height: 28vh;
        width: 115%;
        visibility: hidden;
}

.productdetails .panel-body {
        padding: 10px;
}

.productdetails .panel-heading {
        padding: 10px;
}

.card {
	border: 1px solid #ccc;
        width: 115%;
        visibility: hidden;
}

.card .fa {
    color: rgb(5, 133, 205);
}

.card .panel-body {
        padding: 10px;
}

.card .panel-heading {
        padding: 10px;
}

.border {
	border-bottom: 1px solid #eee
}

.engineers{
	border: 1px solid #ccc;
}

.table{
	margin-bottom: 3px;
	border-color:#ccc;
}

.table thead {
    color: rgb(5, 133, 205);
}

.curlvl{
	background-color: #ccc;
	color: black;
}

.engiimglvl{
	text-align: center;
	color: #eee;
}
.engithpad{
	padding-bottom:2px;
}
.engiinfofont{
	font-size:12px;
}
.famargin{
	margin-top:2px;
	margin-left:10px;
}

.engitabpad > tbody > tr > td {
	padding-top:3px;
	padding-bottom:3px;
	padding-right:0px;
}

/* hides the default search bar of DataTables */
div#DataTables_Table_0_filter label {
    display: none;
}

/* hides the default search bar of DataTables */
div#DataTables_Table_1_filter label {
    display: none;
}

.countrybutton {
    padding: 6px 10px;
    line-height: 1.7;
}

/*Styling for the country button. Below we give the fa-globe icon the color of the logo */
.countrybutton {
    padding: 0px 9px;
    font-size: 19px;
}

.countrybutton i.fa.fa-globe {
    color: rgb(5, 133, 205);
}
.engineerinfo { 
    width: 100%; 
    table-layout: fixed;
}

.engineerinfo td:first-child { 
    width: 30%; 
}

.engineerinfo td:last-child { 
    width: 35%; 
}

.engineers tr {
    cursor: pointer;
}

.products tr {
    cursor: pointer;
}
