/**
 * Backend css
 */

/* Custom CSS for the whole webpage */
* {
    font-size: 100%;
    font-family: 'Open Sans';
}

html, body {
    background-color: #F5F5F5;
}

aside {
    width: 20%;
    float: left;
    height: 100vh;
    background-color: #333333;
    padding-top: 5vh;
}

aside nav a {
    display: block;
    line-height: 20px;
    padding: 10px 20px;
    color: #f5f5f5;
}

aside nav a.active {
    background: #0085D5;
}

aside nav a:hover {
    color: white;
    text-decoration: none;
    background-color: #494545;
}

aside nav hr {
    border-top-color: #494545;
}

/* Add pointer to all a links even without href */
a {
    cursor: pointer;
}

tr {
    cursor: pointer;
}

.main {
    width: 80%;
    padding: 0 25px;
    float: left;
}

.main header {
    height: 15vh;
    padding-top: 5vh;
}

.main header > h1 {
    float: left;
    margin: 0;
}

.main header button {
    float: right;
}

.main .panel {
    height: 80vh;
}

.data .panel-body {
    overflow: auto;
    height: 90%;
    height: calc(100% - 54px);
}

.search-wrapper {
    padding: 10px;
}

input[type="search"] {
    text-align: center;
}

.card {
    /* display: none; */
    overflow: auto;
}

.card label {
    text-align: center;
}

.card:not(.card-edit) input[disabled] {
    border: none;
    cursor: auto;
    background: transparent;
    box-shadow: none;
}

.image-input input {
    visibility: hidden;
    width: 0;
}

.image-input > label {
    height: auto;
    position: relative;
    box-sizing: content-box;
    width: auto;
    padding: 0 0 100% 0;
    overflow: hidden;
}

.image-input > label > span {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    z-index: 0;
    cursor: pointer;
    color: black;
    text-shadow: 1px 1px 1px white;
}

.image-input:hover > label > span {
    z-index: 2;
}

.image-input input:disabled + label > span {
    display: none;
}

.image-input > label > img {
    position: absolute;
    display: block;
    z-index: 1;

    /*
    Yes really:
    http://stackoverflow.com/questions/18673900/how-to-center-and-crop-an-image-to-square-with-css
    */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
}

.image-input .image-square {
    width: 100%;
    height: 100%;
}

.image-input .image-horizontal {
    width: auto;
    height: 100%;
}

.image-input .image-vertical {
    width: 100%;
    height: auto;
}

/* hides the default search bar of DataTables */
div#DataTables_Table_0_filter label {
    display: none;
}

.engineer-skills .btn {
    padding-left: 0;
    padding-right: 0;
}

/*Styling for the country button. Below we give the fa-globe icon the color of the logo */
.countrybutton {
    padding: 2px 8px;
    font-size: 19px;
}

.logo {
    margin-top: -28px;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 70%;
}