/**
 * Backend css
 */

/* Custom CSS for the whole webpage */
* {
    font-size: 100%;
    font-family: 'Open Sans';
}

html, body {
    background-color: #F5F5F5;
}

aside {
    width: 20%;
    float: left;
    height: 100vh;
    background-color: #333333;
    padding-top: 5vh;
}

aside nav a {
    display: block;
    line-height: 20px;
    padding: 10px 20px;
    color: #f5f5f5;
}

aside nav a.active {
    background: #0085D5;
}

aside nav a:hover {
    color: white;
    text-decoration: none;
    background-color: #494545;
}

.main {
    width: 80%;
    padding: 0 25px;
    float: left;
}

.main header {
    height: 15vh;
    padding-top: 5vh;
}

.main header > h1 {
    float: left;
    margin: 0;
}

.main header button {
    float: right;
}

.main .panel {
    height: 80vh;
}

.search-wrapper {
    padding: 10px;
    margin-bottom: 20px;
}

input[type="search"] {
    text-align: center;
}

td.details-control {
    cursor: pointer;
}

/* Hide panel by default */
.panel.panel-default.details {
    display: none;
}

/* hides the default search bar of DataTables */
div#DataTables_Table_0_filter label {
    display: none;
}

/* Add pointer to all a links even without href */
a {
    cursor: pointer;
}

/* Makes the listed items scrollable */
.listed-items{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 88%;
}

.test123{
    background-color: black;
}
