{% load static from staticfiles %}

<!-- the front page agilent -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Agilent Skill Matrix</title>

        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
              <link href="{% static "front.css" %}" rel="stylesheet"/>
              <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.css"/>
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
    </head>
    <body>

        <div class="container-fluid">
            <!-- row 1 -->
            <div class="col-xs-11 col-sm-9 col-md-7 col-lg-5 col-centered">
                <div class="row padtop">
                    <!-- Search + backendlogin -->
                    <!-- Search bar -->
                    <div class="col-xs-7">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm countrybutton" type="button" data-toggle="modal" data-target="#filter"><i class="fa fa-globe"></i></button>
                            </span>
                            <input type="text" class="form-control search-bar" placeholder="Search">
                        </div>
                    </div>
                    <!-- Logo -->
                    <div class ="col-xs-4">
                        <img class="img-responsive agiimg" src="{% static "img/logo.jpg" %}" alt="Agilent">
                    </div>
                    <!-- Inlogknop -->
                    <div class="col-xs-1 log">
                        <i class="fa fa-caret-square-o-right"></i>
                    </div>
                </div><!-- einde row -->
                <!-- modal voor filter -->
                <div class="modal fade selectCountries" id="filter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" >
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Choose Your Country</h4>
                            </div>
                            <div class="modal-body">
                                <select class="filterlanden" multiple="multiple">
                                    <!--hier komt data -->
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary savefilt">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table voor filter -->
                <!-- row 2 -->
                <div class="row padtop">
                    <!-- Naamgeving -->
                    <!-- Naam vak products -->
                    <div class="col-xs-7">
                        <!-- Table Products-->
                        <div class="products">
                            <table class="table productslist click">
                                <thead>
                                <th>Category</th>
                                <th>Subcategory</th>
                                <th>Productname</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- Info vak products -->
                    <div class="col-xs-5">
                        <div class="panel panel-default productdetails">
                            <div class="panel-heading">
                                <b>Product:</b>
                            </div>
                            <div class="panel-body">
                                <!-- Needs to display the image here
                                <div class="image-input col-xs-6">
                                    <img data-autofill="textContent" class="image"/>
                                </div>-->
                                <table class="engineerinfo">
                                    <tr>
                                        <td><h3>Details:</h3></td>
                                    </tr>
                                    <tr>
                                        <td class="category" data-autofill="textContent" />
                                    </tr>
                                    <tr>
                                        <td class="name" data-autofill="textContent" />
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 3 -->
                <div class="row padtop">
                    <!-- Naam vak engineers -->
                    <div class="col-xs-7">
                        <!-- Table Engineer-->
                        <div class="engineers">
                            <table class="table engineerslist click">
                                <thead> 
                                    <tr> 
                                        <th><i class="fa fa-sort-alpha-asc"></i></th> 
                                        <th><i class="fa fa-sort-amount-desc"></i></th> 
                                        <th><i class="fa fa-sort-amount-desc"></i></th>
                                        <th><i class="fa fa-sort-amount-desc"></i></th>
                                    </tr> 
                                </thead> 
                            </table>
                        </div>
                    </div>
                    <!-- Info vak engineers -->
                    <div class="col-xs-5">
                        <!-- Details panel -->
                        <div id="card" class="panel panel-default card">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2 first-name" data-autofill="textContent"></div>
                                    <div class="col-md-1 last-name" data-autofill="textContent"></div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6"><img data-autofill="src" class="image"/></div>
                                    <div class="col-md-6"></div>
                                </div>
                                <div class="image-input col-xs-6">
                                    <img data-autofill="textContent" class="image"/>
                                </div>
                                <h3>Details:</h3>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-map-marker"></i></div>
                                    <div class="col-md-10 droppoint" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-phone"></i></div>
                                    <div class="col-md-10 phone" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-envelope"></i></div>
                                    <div class="col-md-10 email" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-user"></i></div>
                                    <div class="col-md-10 employee-number" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-language"></i></div>
                                    <div class="col-md-10 languages" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <h3>VCA:</h3>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-graduation-cap"></i></div>
                                    <div class="col-md-10 vca-number" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-calendar"></i></div>
                                    <div class="col-md-10 vca-date" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <h3>Car:</h3>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-road"></i></div>
                                    <div class="col-md-10 license-plate" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-car"></i></div>
                                    <div class="col-md-10 car-type" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-paint-brush"></i></div>
                                    <div class="col-md-10 car-color" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <h3>Address:</h3>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-map-signs"></i></div>
                                    <div class="col-md-10 street" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-map-pin"></i></div>
                                    <div class="col-md-10 zip-code" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-map-o"></i></div>
                                    <div class="col-md-10 city" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-globe"></i></div>
                                    <div class="col-md-10 country" data-autofill="textContent"></div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

        <script src="{% static "js/cookies.js" %}"></script>
        <script type='text/javascript' src='{% static "js/bootstrap.min.js" %}'></script>
        <script type='text/javascript' src='{% static "js/filter.js" %}'></script>
        <script type='text/javascript' src='{% static "productslist.js" %}'></script>
        <script type='text/javascript' src='{% static "engineerslist.js" %}'></script>
        <script src="{% static "js/form.js" %}"></script>
        {% endblock javascript %}
    </body>
</html>
