{% load static from staticfiles %}

<!-- the front page agilent -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Agilent Skill Matrix</title>
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
        <link href="{% static "front.css" %}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="{% static "js/bootstrap.min.js" %}" rel="stylesheet"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
        <script type='text/javascript' src='{% static "filter.js" %}'></script>
    </head>
    <body>

        <div class="container-fluid">
            <!-- row 1 -->
            <div class="col-xs-11 col-sm-9 col-md-7 col-lg-5 col-centered">
                <div class="row padtop">
                    <!-- Search + backendlogin -->
                    <!-- Search bar -->
                    <div class="col-xs-7">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <!--TODO: moet nog vervangen worden door filter icon-->
                                <button class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#filter">Land</button>
                                <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                            </span>
                            <input type="text" class="form-control search" placeholder="Search" style="height:30px; ">
                        </div>
                    </div>
                    <!-- Logo -->
                    <div class ="col-xs-4 agiimg">
                        <img class="img-responsive" src="Images/Agilentlogo.jpg" alt="Agilent">
                    </div>
                    <!-- Inlogknop -->
                    <div class="col-xs-1"> 
                        <i class="fa fa-caret-square-o-right" style="margin-top:8px;"></i>
                    </div>
                </div><!-- einde row -->
                <!-- modal voor filter -->
                <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="background-color: rgb(51, 51, 51); opacity:0.9;" >
                            <div class="modal-header" style="border-bottom:0px">
                                <h4 class="modal-title" id="myModalLabel" style="text-align:center; color:white;">Choose Your Country</h4>
                            </div>
                            <div class="modal-body" style="text-align:center;">
                                <select class="filterlanden" multiple="multiple" id="filterlanden" style="width:300px;">
                                    <!--hier komt data -->
                                </select>
                            </div>
                            <div class="modal-footer" style="text-align:center;  border-top:0px;">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="savefilt">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table voor filter -->
                <!-- row 2 -->
                <div class="row padtop">
                    <!-- Naamgeving -->
                    <!-- Naam vak products -->
                    <div class="col-xs-7">
                        <!-- Table Products-->
                        <div class="productsnaam">
                            <table class="table hover">
                                <tbody>
                                    <!--<tr>-->
                                    <!--<td>-->
                                    <!--MP-AES Systems 4100-->
                                    <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr class="selected">-->
                                    <!--<td>MP-AES Systems 4200</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td> MP-AES Systems 4300</td>-->
                                    <!--</tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Info vak products -->
                    <div class="col-xs-5">
                        <div class="productsnaam ">
                            <div class="prodimgnaam">
                                <!--MP-AES Systems 4200-->
                            </div>
                            <!-- image product -->
                            <div>
                                <!--<img class="img-responsive prodimg" src="Images/u309.png" align="middle"/>-->
                            </div>
                        </div>
                    </div>
                </div>


                <!-- row 3 -->
                <div class="row padtop">
                    <!-- Naam vak engineers -->
                    <div class="col-xs-7">
                        <!-- Table Engineer-->
                        <div class="panel panel-default">
                            <table class="table hover" style="height:300px;">
                                <thead> 
                                    <tr> 
                                        <th><i class="fa fa-sort-alpha-asc"></i></th> 
                                        <th><i class="fa fa-sort-amount-desc"></i></th> 
                                        <th><i class="fa fa-sort-amount-desc"></i></th>
                                    </tr> 
                                </thead> 
                                <tbody>
                                    <tr>
                                        <!--<td>Jack Kerry</td>-->
                                        <!--<td>FSS</td>-->
                                        <!--<td><img src="Images/du.png" alt="Agilent" style="margin-top:6px"></td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td>Lorem Piepschuim</td>-->
                                        <!--<td>ASP</td>-->
                                        <!--<td><img src="Images/du.png" alt="Agilent" style="margin-top:6px"></td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td>-->
                                        <!--Albert Minekus van Osvaart-->
                                        <!--</td>-->
                                        <!--<td>FSS</td>-->
                                        <!--<td><img src="Images/nl.png" alt="Agilent" style="margin-top:6px"></td>-->
                                    </tr>
                                </tbody> 
                            </table>
                        </div>
                    </div>
                    <!-- Info vak engineers -->
                    <div class="col-xs-5">
                        <div class="enginaam">
                            <div class="prodimgnaam">
                                <!--Albert Minekus van Osvaart-->
                            </div>
                            <!-- Engineer image en level -->
                            <div class="engiimglvl">
                                <div class="engiimg" style="width:50%; height:100px; float:left; margin-bottom: 10px;">
                                    <!--<img class="img-responsive" src="Images/u133.png" style="float:right"/>-->
                                </div>
                                <div class="engilvl" style="width:50%; height:100px; float:right; ">
                                    <!--<div class="engilvl1" style="height:25%;">-->
                                    <!--Level 1-->
                                    <!--</div>-->
                                    <!--<div class="engilvl2" style="height:25%;">-->
                                    <!--Level 2-->
                                    <!--</div>-->
                                    <!--<div class="engilvl3 curlvl" style="height:25%;">-->
                                    <!--Level 3-->
                                    <!--</div>-->
                                    <!--<div class="engilvl4" style="height:25%;">-->
                                    <!--Level 4-->
                                    <!--</div>-->
                                </div>
                                <!-- Engineer info -->
                                <div class="engiinfo" style="clear:left; font-size:10px;">
                                    <table class= "table engiinfofont engitabpad">
                                        <tbody> 
                                            <!--<tr> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td>-->
                                            <!--HPDROP1234-->
                                            <!--</td> -->
                                            <!--<td><i class="fa fa-files-o famargin"></i></td>-->
                                            <!--</tr>-->
                                            <!--<tr> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td>-->
                                            <!--0031 678 94 56 12-->
                                            <!--</td> -->
                                            <!--<td><i class="fa fa-files-o famargin"></i></td>-->
                                            <!--</tr>-->
                                            <!--<tr> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td>-->
                                            <!--aminekus@agilent.com-->
                                            <!--</td> -->
                                            <!--<td><i class="fa fa-files-o famargin"></i></td>-->
                                            <!--</tr>-->
                                            <!--<tr class="border"> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td>00073789</td> -->
                                            <!--</tr>-->
                                            <!--<tr> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td>-->
                                            <!--2269804/2/NL-->
                                            <!--</td> -->
                                            <!--<td><i class="fa fa-files-o famargin"></i></td>-->
                                            <!--</tr>-->
                                            <!--<tr class="border"> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td>10-02-2012</td> -->
                                            <!--</tr>-->
                                            <!--<tr> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td>-->
                                            <!--44-RPZ-4-->
                                            <!--</td> -->
                                            <!--<td><i class="fa fa-files-o famargin"></i></td>-->
                                            <!--</tr>-->
                                            <!--<tr class="border"> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td>-->
                                            <!--Audi A3, Blue-->
                                            <!--</td> -->
                                            <!--</tr>-->
                                            <!--<tr> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td>-->
                                            <!--Woekeven 65, 1703MR-->
                                            <!--</td> -->
                                            <!--<td><i class="fa fa-files-o famargin"></i></td>-->
                                            <!--</tr>-->
                                            <!--<tr> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td>Beverwijk</td>-->
                                            <!--</tr>-->
                                            <!--<tr class="border"> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td>The Netherlands</td>-->
                                            <!--</tr> -->
                                            <!--<tr> -->
                                            <!--<td><i class="fa fa-map-marker famargin"></i></td>-->
                                            <!--<td style="text-align: left">NL / ENG</td> -->
                                            <!--<td><i class="fa fa-files-o famargin"></i></td>-->
                                            <!--</tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
