{% extends "registration/template.html" %}

{% load static from staticfiles %}

{% block content %}
    <form class="login-form col-md-offset-4 col-md-4" method="post" action="{{ request.path }}">
        {% csrf_token %}

        <img src="{% static 'img/logo-color.png' %}" class="img-responsive"/>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        {% if not validlink %}
            <div class="alert alert-danger">
                This link is invalid. Perhaps it is already used. Request a new link.
            </div>
        {% endif %}

        <div class="form-group">
            <label for="new_password1">Password</label>
            <input type="password" class="form-control" id="new_password1" placeholder="Password"
                   name="new_password1"
                   required/>
        </div>

        <div class="form-group">
            {{ form.password.errors }}

            <label for="new_password2">Confirm password</label>
            <input type="password" class="form-control" id="new_password2" placeholder="Confirm password"
                   name="new_password2" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block">
            <i class="fa fa-fw fa-sign-in"></i>
        </button>
    </form>
{% endblock %}