{% extends 'template.html' %}

{% load static from staticfiles %}

{% block table %}
    <!--Table headers-->
    <thead>
    <tr>
        <th>Name</th>
        <th>Edit</th>
    </tr>
    </thead>
{% endblock table %}

{% block card %}

    <form class="form-horizontal">
        <fieldset>
            <legend>Category</legend>
            <div class="form-group">
                <label for="name" class="control-label col-xs-2">
                    <i class="fa fa-header"></i>
                </label>
                <div class="col-xs-10">
                    <input id="name" type="text" class="form-control" name="name" placeholder="Name" maxlength="100"
                           required/>
                </div>
            </div>
            <div class="form-group">
                <label for="short-name" class="control-label col-xs-2">
                    <i class=""></i>
                </label>
                <div class="col-xs-10">
                    <input id="short-name" type="text" class="form-control" name="short-name" placeholder="Abbreviation"
                           maxlength="100" required/>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="form-horizontal">
        <h2 class="legend">Child categories</h2>
    </div>
{% endblock card %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'categories.js' %}"></script>
{% endblock javascript %}