{% extends 'template.html' %}

{% load static from staticfiles %}

{% block table %}
    <!--Table headers-->
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Note</th>
        <th>Skills</th>
        <th>Edit</th>
    </tr>
    </thead>
{% endblock table %}

{% block card %}
    <div id="engineer-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="item engineer-note">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="legend">Details</h3>
                        <p>
                            <span class="first-name" data-autofill="textContent"></span>
                            <span class="last-name" data-autofill="textContent"></span>
                        </p>
                        <p>
                            <span class="employee-number" data-autofill="textContent"></span>
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <img data-autofill="src" class="img-responsive image"/>
                    </div>
                </div>

                <form class="form-horizontal url" method="post" data-autofill="action">
                    <fieldset>
                        <legend>Edit note</legend>

                        <div class="form-group">
                            <label for="visible-from" class="col-xs-2 control-label">
                                <i class="fa fa-hourglass-start"></i>
                            </label>
                            <div class="col-xs-10">
                                <input type="date" id="visible-from" name="visible-from" class="form-control"
                                       placeholder="Visible from"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="visible-until" class="col-xs-2 control-label">
                                <i class="fa fa-hourglass-end"></i>
                            </label>
                            <div class="col-xs-10">
                                <input type="date" id="visible-until" name="visible-until" class="form-control"
                                       placeholder="Visible until"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-2 control-label">
                                <i class="fa fa-comment"></i>
                            </label>
                            <div class="col-xs-10">
                                <textarea id="content" class="form-control" name="content" placeholder="Content&hellip;"
                                          required></textarea>
                            </div>
                        </div>
                    </fieldset>

                    <input type="submit" class="btn btn-default pull-right" value="Submit"/>
                </form>
            </div>

            <div class="item">
                <div class="engineer-skills">
                    <div class="row">
                        <div class="col-xs-6">
                            <legend>Details</legend>
                            <div class="col-xs-offset-2">
                                <p>
                                    <span class="first-name" data-autofill="textContent"></span>
                                    <span class="last-name" data-autofill="textContent"></span>
                                </p>
                                <p>
                                    <span class="employee-number" data-autofill="textContent"></span>
                                </p>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <img data-autofill="src" class="img-responsive image"/>
                        </div>
                    </div>

                    <h3 class="legend">Add skills</h3>
                    <div class="form-group">
                        <select id="skills-select" multiple style="width: 100%"
                                data-placeholder="Click to add skills"></select>
                    </div>

                    <ul class="list-group">

                    </ul>
                </div>
            </div>

            <div class="item active">
                <form class="engineer-edit form-horizontal url" method="post" data-autofill="action">
                    <div class="form-group">
                        <div class="col-xs-6">

                        </div>

                        <div class="image-input col-xs-6">
                            <input id="image" name="image" type="file"/>
                            <label for="image" class="form-control">
                                <img data-autofill="src" class="image"/>
                                <span>Click to upload image</span>
                            </label>
                        </div>
                    </div>


                    <fieldset>
                        <legend>Details</legend>

                        <div class="form-group">
                            <div class="col-xs-5 col-xs-offset-2">
                                <input name="first-name" class="form-control" placeholder="First name" maxlength="100"
                                       required>
                            </div>
                            <div class="col-xs-5">
                                <input name="last-name" class="form-control" placeholder="Last name" maxlength="100"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-xs-2 control-label">
                                <i class="fa fa-envelope"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="email" name="email" class="form-control" type="email" maxlength="254"
                                       required placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phone" class="col-xs-2 control-label">
                                <i class="fa fa-phone"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="phone" name="phone" class="form-control" type="number" maxlength="11"
                                       required placeholder="Phone number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="employee-number" class="col-xs-2 control-label">
                                <i class="fa fa-user"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="employee-number" name="employee-number" class="form-control" type="text"
                                       maxlength="20" required placeholder="Employee number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="droppoint" class="col-xs-2 control-label">
                                <i class="fa fa-copy"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="droppoint" name="droppoint" class="form-control" type="text"
                                       maxlength="20" placeholder="Droppoint">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="type" class="col-xs-2 control-label">
                                <i class="fa"></i>
                            </label>
                            <div class="col-xs-10">
                                <select id="type" name="type" class="form-control" placeholder="Type" required>
                                    <option value="0" selected>FSS</option>
                                    <option value="1">ASP</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="languages" class="col-xs-2 control-label">
                                <i class="fa fa-language"></i>
                            </label>
                            <div class="col-xs-10">
                                <select id="languages" name="languages" class="form-control" style="width: 100%"
                                        placeholder="Languages"
                                        multiple required></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="countries" class="col-xs-2 control-label">
                                <i class="fa fa-globe"></i>
                            </label>
                            <div class="col-xs-10">
                                <select id="countries" name="countries" class="form-control" style="width: 100%"
                                        placeholder="Countries"
                                        multiple required></select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Address</legend>

                        <div class="form-group">
                            <label for="street" class="col-xs-2 control-label">
                                <i class="fa fa-home"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="street" name="street" class="form-control" type="text" placeholder="Address"
                                       maxlength="100" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="zip-code" class="col-xs-2 control-label">
                                <i class="fa fa-road"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="zip-code" name="zip-code" class="form-control" type="text"
                                       placeholder="Zipcode" maxlength="10" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="city" class="col-xs-2 control-label">
                                <i class="fa fa-map"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="city" name="city" class="form-control" type="text" placeholder="City"
                                       maxlength="100" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="country" class="col-xs-2 control-label">
                                <i class="fa fa-globe"></i>
                            </label>
                            <div class="col-xs-10">
                                <select id="country" name="country" class="form-control" style="width: 100%"
                                        placeholder="Country"
                                        required></select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Car</legend>

                        <div class="form-group">
                            <label for="car-type" class="col-xs-2 control-label">
                                <i class="fa fa-car"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="car-type" name="car-type" class="form-control" type="text"
                                       placeholder="Brand and model"
                                       maxlength="100" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="license-plate" class="col-xs-2 control-label">
                                <i class="fa fa-fw fa-road"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="license-plate" name="license-plate" class="form-control" type="text"
                                       placeholder="License plate" maxlength="10" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="car-color" class="col-xs-2 control-label">
                                <i class="fa fa-paint-brush"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="car-color" name="car-color" class="form-control" type="text"
                                       placeholder="Color" maxlength="100" required>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>VCA</legend>

                        <div class="form-group">
                            <label for="vca-number" class="col-xs-2 control-label">
                                <i class="fa fa-certificate"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="vca-number" name="vca-number" class="form-control" type="text"
                                       placeholder="Number" maxlength="20">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="vca-date" class="col-xs-2 control-label">
                                <i class="fa fa-calendar"></i>
                            </label>
                            <div class="col-xs-10">
                                <input id="vca-date" name="vca-date" class="form-control" type="date"
                                       placeholder="Issued at">
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="is-active" data-autofill="checked" value="true"
                                           checked>
                                    Is active
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-5">
                            <input type="submit" class="btn btn-default pull-right" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock card %}

{% block javascript %}
    {{ block.super }}

    <script src="{% static 'backend/js/engineers.js' %}"></script>

    <script type="text/html" id="skill-template">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-7 skill-name">

                </div>
                <div class="col-xs-5">
                    <div class="input-group">
                        <input type="number" min="1" max="4" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </script>
{% endblock javascript %}