{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ meta.verbose_name_plural|title }} &ndash; Agilent Skill Admin</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "backend/css/backend.css" %}" rel="stylesheet"/>
    <link href="{% static "css/extern.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href='{% static "css/jquery.toast.min.css" %}'/>

    <meta name="csrf-token" content="{{ csrf_token }}"/>
</head>
<body>
<aside>
    <img class="img-responsive logo" src="{% static "img/logo-white.png" %}" alt="Agilent">
    <p>Welcome, {{ request.user.email }}</p>
    <nav class="navigation">
        {% if perms.api.add_engineer or perms.api.change_engineer %}
            <a class="{% if request.resolver_match.url_name == 'backend-engineers' %}active{% endif %}" href="{% url 'backend-engineers' %}">Engineers</a>
        {% endif %}
        {% if perms.api.add_product or perms.api.change_product %}
            <a class="{% if request.resolver_match.url_name == 'backend-products' %}active{% endif %}" href="{% url 'backend-products' %}">Products</a>
        {% endif %}
        {% if perms.api.add_category or perms.api.change_category or perms.api.delete_category %}
            <a class="{% if request.resolver_match.url_name == 'backend-categories' %}active{% endif %}" href="{% url 'backend-categories' %}">Categories</a>
        {% endif %}
        {% if perms.api.add_user or perms.api.change.change_user %}
            <a class="{% if request.resolver_match.url_name == 'backend-users' %}active{% endif %}" href="{% url 'backend-users' %}">Users</a>
        {% endif %}
        <hr />
        <a href="{% url 'index' %}">Skillmatrix</a>
        <a href="{% url 'logout' %}">Log out</a>
    </nav>
</aside>
<div class="main">
    <div class="container-fluid">
        <!-- Header row -->
        <div class="row header">
            <header class="col-xs-8">
                <h1>
                    {{ meta.verbose_name_plural|title }}
                </h1>
                <button class="btn btn-primary add-new">
                    Add {{ meta.verbose_name }}
                </button>
            </header>
        </div>

        <!-- Main content -->
        <div class="row content">
            <div class="col-xs-8">
                <!-- Data table -->
                <div class="panel panel-default data">
                    <div class="search-wrapper">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm countrybutton" type="button" data-toggle="modal"
                                        data-target="#filter"><i class="fa fa-fw fa-globe"></i></button>
                            </span>
                            <input type="search" class="form-control search-bar" placeholder="Search&hellip;"/>
                        </div>
                    </div>
                    <div class="modal fade selectCountries" id="filter" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Choose Your Country</h4>
                                </div>
                                <div class="modal-body">
                                    <select class="filterlanden" multiple="multiple">
                                        <!--hier komt data -->
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary savefilt">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            {% block table %}
                                The entity's table goes here
                            {% endblock table %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <!-- Details panel -->
                <div id="card" class="panel panel-default card">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        {% block card %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script src='{% static "js/extern.js" %}'></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/jquery.toast.min.js" %}"></script>

        <script src="{% static "js/cookies.js" %}"></script>
        <script src="{% static "js/filter.js" %}"></script>
        <script src="{% static "js/form.js" %}"></script>

        <script src="{% static "backend/js/backend.js" %}"></script>
    {% endblock javascript %}
</div>
</body>
</html>