{% extends 'template.html' %}
{% load static from staticfiles %}
{% block table %}
    <!--Table headers-->
    <thead>
    <tr>
        <th>Email</th>
        <th>Group</th>
        <th>Edit</th>
    </tr>
    </thead>
{% endblock table %}

{% block card %}
    <form class="form-horizontal url" method="post" data-autofill="action">
        <div class="form-group">
            <label for="email" class="col-xs-2 control-label">
                <i class="fa fa-fw  fa-envelope"></i>
            </label>
            <div class="col-xs-10">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required
                       maxlength="254"/>
            </div>
        </div>

        <div class="form-group">
            <label for="groups" class="col-xs-2 control-label">
                <i class="fa fa-fw  fa-tag"></i>
            </label>
            <div class="col-xs-10">
                <select id="groups" name="groups" class="form-control" placeholder="Group"
                        required style="width: 100%;"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="is-active" data-autofill="checked" value="true" checked>
                        Is active
                    </label>
                </div>
            </div>

            <div class="col-xs-5">
                <input type="submit" class="btn btn-default pull-right" value="Submit"/>
            </div>
        </div>
        <hr/>
        <p class="help-block">
            This will send an email with a link to reset the password. The old password is not valid anymore.
        </p>
        <button type="button" class="btn btn-danger btn-block url" data-autofill="data-url">
            Reset this user's password
        </button>
    </form>

{% endblock card %}

{% block javascript %}
    {{ block.super }}

    <script src="{% static 'backend/js/users.js' %}"></script>
{% endblock javascript %}