/**
 * Backend css
 */

html, body {
    background-color: #F5F5F5;
}

aside {
    width: 20%;
    float: left;
    height: 100vh;
    background-color: #333333;
}

aside img {
    padding: 20px;
    margin: 0 auto;
    max-height: 100px;
}

aside p {
    color: #dddddd;
    padding: 0 20px 20px 20px;
    font-size: 12px;
    border-bottom: 1px solid #494545;
}

aside nav a {
    display: block;
    line-height: 20px;
    padding: 10px 20px;
    color: #f5f5f5;
}

aside nav a.active {
    background: #0085D5;
}

aside nav a:hover {
    color: white;
    text-decoration: none;
    background-color: #494545;
}

aside nav hr {
    border-top-color: #494545;
}

/* Add pointer to all a links even without href */
a {
    cursor: pointer;
}

tr {
    cursor: pointer;
}

.main {
    width: 80%;
    padding: 0 15px;
    float: left;
}

.main header {
    height: 135px;
}

.main header > h1 {
    line-height: 97px;
    float: left;
    margin: 0;
}

.main header button {
    margin-top: 33px;
    float: right;
}

.main .content {
    height: 85vh;
    padding-bottom: 30px;
}
.main .panel {
    height: 80vh;
    height: calc(100vh - 165px);
}

.data .panel-body {
    overflow: auto;
    height: 90%;
    height: calc(100% - 54px);
}

.search-wrapper {
    padding: 10px;
}

input[type="search"] {
    text-align: center;
}

.card {
    display: none;
    overflow: auto;
}

.card label {
    text-align: center;
}

.image-input input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.image-input > label {
    height: auto;
    width: auto;
    position: relative;
    box-sizing: content-box;
    overflow: hidden;
    padding-bottom: 100%;
}

.image-input > label > span {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    z-index: 0;
    cursor: pointer;
    color: black;
    text-shadow: 1px 1px 1px white;
}

.image-input:hover > label > span {
    z-index: 2;
}

.image-input input:disabled + label > span {
    display: none;
}

.image-input > label > img {
    position: absolute;
    display: block;
    z-index: 1;
    /*
     Yes really:
     http://stackoverflow.com/questions/18673900/how-to-center-and-crop-an-image-to-square-with-css
     */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
}

.image-input .image-square {
    width: 100%;
    height: 100%;
}

.image-input .image-horizontal {
    width: auto;
    height: 100%;
}

.image-input .image-vertical {
    width: 100%;
    height: auto;
}

/* hides the default search bar of DataTables */
div#DataTables_Table_0_filter label {
    display: none;
}

.engineer-skills {
    margin-bottom: 0;
}

.engineer-skills .skill-name {
    font-weight: bold;
}

.engineer-skills .close {
    color: #333333;
}

.engineer-skills .list-group .row {
    margin: 0 -5px;
}

.engineer-skills .list-group .col-xs-3,
.engineer-skills .list-group .col-xs-4,
.engineer-skills .list-group .col-xs-5 {
    padding: 0 5px;
}

/*Styling for the country button. Below we give the fa-globe icon the color of the logo */
.countrybutton {
    padding: 2px 8px;
    font-size: 19px;
}

/* Styling for the modal panel */
.modal-content {
    background-color: rgb(51, 51, 51);
    opacity: 0.9;
}

.modal-header {
    border-bottom: 0px;
}

.modal-title {
    text-align: center;
    color: white;
}

.modal-body {
    text-align: center;
}

.filterlanden {
    width: 300px;
}

.modal-footer {
    text-align: center;
    border-top: 0px;
}

.legend {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 21px;
    border-bottom: 1px solid #e5e5e5;
}

.form-list form:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.form-list .btn[disabled] {
    display: none;
}

.form-list span {
    line-height: 34px;
}

.child > td {
    padding: 8px 0 8px 16px !important;
}

.child .table {
    margin-bottom: 8px;
}

.child .table tr:first-child > td {
    border-top: none;
}

.panel-default > .panel-heading {
    background-color: rgba(102, 102, 102, 1);
    color: white;
}

.card .panel-body{
    overflow: auto;
    height: calc(100% - 41px);
}

.control-label .fa-angle-right{
    font-size:18px;
    padding-left:4px;
}

.control-label .fa-angle-double-right{
    font-size:18px;
    padding-left:4px;
}
